* {
    all:unset;
    font-family: "Source Code Pro", "Symbols Nerd Font";
    font-weight: bold; 
    font-size: 10px;
}

window#waybar {
    all:unset;
}

.modules-left, 
.modules-center, 
.modules-right {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 5px;
}

.module {
    all: unset;
    margin: 0px 3px 0px 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
}

/* WORKSPACES */
#workspaces {
    transition: 0.2s ease;
}

#workspaces button {
    min-height: 5px;
    background-color: var(--background);
    border: 1px solid var(--secondary);
    min-width: 15px;
    transition: 0.5s ease;
    font-size: 12px;
    font-weight: normal;
    border-radius: 30px;
    margin-right: 5px;
}

#workspaces button:last-child {
    margin-right: 0px;
}

#workspaces button.active {
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all 0.5s ease;
    min-width: 3rem;
}

#workspaces button:hover {
    background: var(--primary);
    transition: all 0.5s ease;
}

/* WINDOW */
#window {

}

window#waybar.empty .modules-center {
    background-color: transparent;
}

/* BATTERY */
#battery {
    background: var(--success); /* Default to green color */
    color: var(--background);
}

@keyframes critical_charging {
    25% {
        background-color: var(--danger); 
    }
    50% {
        background-color: var(--caution);
        color: var(--background);
    }
    75% {
        background-color: var(--danger); 
    }
}

@keyframes warning_charging {
    25% {
        background-color: var(--caution); 
    }
    50% {
        background-color: var(--success);
    }
    75% {
        background-color: var(--caution); 
    }
}

@keyframes good_charging {
    25% {
        background-color: var(--success); 
    }
    50% {
        background-color: transparent;
        color: var(--success);
    }
    75% {
        background-color: var(--success); 
    }
}

#battery.charging.good {
    animation: good_charging 4s infinite;
}

#battery.charging.warning {
    animation: warning_charging 4s infinite;
}

#battery.warning {
    background: var(--caution);
}

#battery.charging.critical {
    animation: critical_charging 4s infinite;
}

#battery.critical {
    background: var(--danger);
    color: white;
}


/* CLOCK */
#clock {
    background-color: var(--darker);
}