/* #### GENERAL #### */
* {
    all:unset;
    font-family: "Source Code Pro", "Symbols Nerd Font Mono";
    font-size: 12px;
    color: @text;
}

window#waybar {
    all:unset;
}

#tray,
#workspaces, 
#power,
.modules-center, 
.modules-right {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 5px;
}

.module {
    all: unset;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
}

#power, #tray, #workspaces {
    margin-right: 5px;
}

.modules-right widget .module {
    margin-left: 5px;
}

.modules-right widget:first-child .module {
    margin-left: 0px;
}

tooltip, 
#tray menu {
    background-color: @base;
    border-radius: 15px;
    border: 1px solid @base;
    padding: 5px;
}

/* #### POWER #### */
#power {
    font-weight: bold;
}

#custom-power {
    color: @red;
}

/* #### WORKSPACES #### */
#workspaces button {
    min-height: 5px;
    background-color: @surface0;
    border: 1px solid @peach;
    min-width: 15px;
    transition: 0.5s ease;
    font-size: 12px;
    font-weight: normal;
    border-radius: 30px;
    margin-right: 5px;
}

#workspaces button:last-child {
    margin-right: 0px;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @peach;
    border-color: @peach;
    transition: all 0.5s ease;
    min-width: 3rem;
}

#workspaces button.active * {
    color: @base;
}

#workspaces button:hover {
    background: @peach;
    transition: all 0.5s ease;
}

/* #### WINDOW #### */
/* The window here does NOT refer to the module, but the waybar-window itself, but is here to fix styling with the module */
window#waybar.empty .modules-center {
    background-color: transparent;
}

/* #### HARDWARE #### */
#hardware {
    background-color: @base;
    border-radius: 30px;
}

@keyframes critical_swap {
    25% {
        background-color: @red; 
    }
    50% {
        background-color: @red;
    }
    75% {
        background-color: @red; 
    }
}

/* hardware circle indicators */
#hardware .warning {
    color: @yellow;
}

#hardware .critical {
    color: @red;
}

#hardware .critical_swap { /* Disk only */
    color: @red;
    animation: critical_swap 2s infinite;
}

#disk, #cpu, #memory, #wireplumber, #backlight {
    color: @green;
}

/* #### NETWORK #### */
#network {
    background-color: @green;
    color: @base;
}

#network.disconnected {
    background-color: @red;
}

/* #### CLOCK #### */
#clock {
    background-color: @blue;
    color: @base;
}

/* #### BATTERY #### */
#battery {
    background: @green; /* Default to green color */
    color: @base;
}

@keyframes critical_charging {
    25% {
        background-color: @red; 
    }
    50% {
        background-color: @yellow;
        color: @base;
    }
    75% {
        background-color: @red; 
    }
}

@keyframes warning_charging {
    25% {
        background-color: @yellow; 
    }
    50% {
        background-color: @green;
    }
    75% {
        background-color: @yellow; 
    }
}

@keyframes good_charging {
    25% {
        background-color: @green; 
    }
    50% {
        background-color: transparent;
        color: @green;
    }
    75% {
        background-color: @green; 
    }
}

#battery.charging.good {
    animation: good_charging 4s infinite;
}

#battery.charging.warning {
    animation: warning_charging 4s infinite;
}

#battery.warning {
    background: @yellow;
}

#battery.charging.critical {
    animation: critical_charging 4s infinite;
}

#battery.critical {
    background: @red;
}