/* #### GENERAL #### */
* {
    all:unset;
    font-family: "Source Code Pro", "Symbols Nerd Font";
    font-size: 10px;
}

window#waybar {
    all:unset;
}

#tray,
#workspaces, 
#power,
.modules-center, 
.modules-right {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px;
}

.module {
    all: unset;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
}

.modules-left .module {
    margin-right: 5px;
}

.modules-left widget:last-child .module {
    margin-right: 0px;
}

.modules-right widget .module {
    margin-left: 5px;
}

.modules-right widget:first-child .module {
    margin-left: 0px;
}

tooltip, 
#tray menu {
    background-color: var(--darker);
    border-radius: 15px;
    border: 1px solid var(--background);
    padding: 5px;
}

/* #### POWER #### */
#power {
    color: var(--danger);
    font-weight: bold;
}

#power .other-btns {
    color: white;
}

/* #### HARDWARE #### */
#hardware {

}

#disk.warning {
    color: var(--caution);
}

#disk.critical {
    color: var(--danger);
}


#memory.warning {
    color: var(--caution);
}

#memory.critical {
    color: var(--danger);
}

#cpu {
    color: var(--secondary);
}

/* #### WORKSPACES #### */
#workspaces button {
    min-height: 5px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    min-width: 15px;
    transition: 0.5s ease;
    font-size: 12px;
    font-weight: normal;
    border-radius: 30px;
    margin-right: 5px;
}

#workspaces button:last-child {
    margin-right: 0px;
}

#workspaces button.active {
    font-weight: bold;
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all 0.5s ease;
    min-width: 3rem;
}

#workspaces button:hover {
    background: var(--primary);
    transition: all 0.5s ease;
}

/* #### WINDOW #### */
/* The window here does NOT refer to the module, but the waybar-window itself, but is here to fix styling with the module */
window#waybar.empty .modules-center {
    background-color: transparent;
}

/* #### NETWORK #### */
#network {
    background-color: var(--primary);
}

/* #### CLOCK #### */
#clock {
    background-color: var(--darker);
}

/* #### BATTERY #### */
#battery {
    background: var(--success); /* Default to green color */
    color: var(--darker);
}

@keyframes critical_charging {
    25% {
        background-color: var(--danger); 
    }
    50% {
        background-color: var(--caution);
        color: var(--background);
    }
    75% {
        background-color: var(--danger); 
    }
}

@keyframes warning_charging {
    25% {
        background-color: var(--caution); 
    }
    50% {
        background-color: var(--success);
    }
    75% {
        background-color: var(--caution); 
    }
}

@keyframes good_charging {
    25% {
        background-color: var(--success); 
    }
    50% {
        background-color: transparent;
        color: var(--success);
    }
    75% {
        background-color: var(--success); 
    }
}

#battery.charging.good {
    animation: good_charging 4s infinite;
}

#battery.charging.warning {
    animation: warning_charging 4s infinite;
}

#battery.warning {
    background: var(--caution);
}

#battery.charging.critical {
    animation: critical_charging 4s infinite;
}

#battery.critical {
    background: var(--danger);
    color: white;
}