window {
    font-family: "Source Code Pro", "Symbols Nerd Font";
    margin: 0px;
    border: 1px solid var(--primary);
    background-color: var(--darker);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: var(--foreground);
    background-color: var(--background);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: var(--foreground);
}

#entry {
    border: none;
}

#entry:selected {
    background-color: var(--primary);
    border-radius: 5px;
    border: none;
}

#expander-box {
    background-color: var(--background);
    border-radius: 10px;
}

#expander-box:selected {
    background-color: var(--secondary);
}

scrollbar {
    background-color: transparent;
    color: transparent;
    border: none;
}