* {
    font-family: "SauceCodePro Nerd Font";
    font-weight: bold; 
    font-size: 10px;
}

window#waybar {
    all:unset;
}

.modules-left {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.modules-center {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.modules-right {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}